*{margin: 0;padding: 0}
body{
	background-image: url("rsrc/newbgi.png");
	background-size: 100%;
	background-attachment: fixed;
}
.noo{
	display: none;
}
#content{
	position: relative;
	overflow: hidden;
	margin: 40px auto;
	width: 600px;
	height: 750px;
	background-image:url('rsrc/bg1.png');
	background-size: 600px 750px;
	border:50px solid black;
	border-image: url('rsrc/brc.png') 37% repeat;
	box-sizing: content-box;
}
#startPage{
	display: block;
	position: relative;
	z-index:1;
}
#header{
	overflow: hidden;
	height: 30px;
}
#life{
	float: left;
}
#score{
	float: right;
	font-family: 'Farro', sans-serif;
	text-transform: uppercase;
	color: yellow;
	text-shadow:
   -1px 0px #000,  
    1px 0px #000,
    0px 2px #000,
    2px 1px #000;
}
#in-game-menu-button{
	width: 50px;
	height: 20px;
	float: right;
	font-family: 'Black Han Sans', sans-serif;
	margin-right: 10px;
	display: none;
	font-size: 12px;
	border-radius: 3px;
	color: #34322f;	
	background-color: #ebfbfe;
	border: 2px solid #000;		
}
#in-game-menu{
	z-index: 5;
	border:solid 3px white;
	border-radius: 10px;
	width: 300px;
	height: 120px;
	background-color: #161717;
	color: white;
	position: absolute;
	top: 280px;
	left: 141px;
	text-align: center;
	display: none;
	padding: 10px;
}

#gameover{
	z-index: 5;
	border:solid 3px white;
	border-radius: 10px;
	width: 300px;
	height: 120px;
	background-color: #161717;
	color: white;
	position: absolute;
	top: 280px;
	left: 141px;
	text-align: center;
	display: none;
	padding: 10px;
}

#menu{
	text-align: center;
}
#title{
	width: 390px;
	display: none;
	margin:30px auto;
	font-size: 60px;
	font-family: 'Black Han Sans', sans-serif;
	color: white;
	text-shadow: -5px 0 #000,
	0 5px #000,
	5px 0 #000,
	0 -5px #000;

}
subtitle {
	display: block;
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	color: #ebfbfe;
	font-size: 45px;
}
::selection{
	color: #fff;
	background: #34322f;
}
::-moz-selection{
	color: #fff;
	background: #34322f;
}
button:hover, title:hover, #tutorial:hover, subtitle:hover{
	cursor: pointer;
}
#menu>button{
	width: 220px;
	margin:15px auto;
	background-color: #ebfbfe;
	font-size: 30px;
	font-family: 'Jua', sans-serif;
	color: #34322f;	
	border: 3px solid #34322f;	
}

#changeImgDiv, #changeMusicDiv,#choose-level {
	display: none;
	overflow: hidden;
	background-color: #161717;
	border: 2px solid #fff;
	z-index: 2;
	width: 400px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 5px;
}

#heart{
	visibility: hidden;
}
#tutorial{
	display: none;
	background-color: #161717;
	border: 2px solid #fff;
	z-index: 2;
	width: 580px;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}
.exit, .skip {
	height: 25px; font-size: 15px;
	width: 80px;
	font-family: 'Jua', sans-serif;
	padding: 2px;
	color: #34322f;	
	background-color: #ebfbfe;
	border: 3px solid #000;
	border-radius: 5px;
}
.bgBtn{
	width: 115px;
	height: 40px;
	margin:15px 5px;
	font-family: 'Jua', sans-serif;
	font-size: 18px;
	border-radius: 5px;
	color: #34322f;	
	background-color: #ebfbfe;
	border: 3px solid #000;		
}
.on-off{
	float: left;
	width: 190px;
	height: 40px;
	margin:15px 5px;
	font-family: 'Jua', sans-serif;
	font-size: 20px;
	border-radius: 5px;
	color: #34322f;	
	background-color: #ebfbfe;
	border: 3px solid #000;		
}
.level , #continue, #quit, #restart, #quit2 {
	width: 115px;
	height: 40px;
	margin:15px 5px;
	font-family: 'Jua', sans-serif;
	font-size: 18px;
	border-radius: 5px;
	color: #34322f;	
	background-color: #ebfbfe;
	border: 3px solid #000;		
}

#mCanvas{
	z-index: 3;
	position: absolute;
	top: 30px;
	left: 0;
	display: none;
}

.StoryBoard{
	display: none;
	width: 600px;
	height: 750px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}
.StoryBoard button{
	z-index: 5;
	position: absolute;
	top: 550px;right: 0;
}
.StoryBoard .board{
	z-index: 4;
	display: block;
	width: 600px;
	height: 320px;
	position: absolute;
	top: 220px;
	left: 0;
	background-color: white;
	display: flex;
	align-items: center;
}

.StoryBridge{
	z-index: 4;
	display: none;
	width: 600px;
	height: 320px;
	position: absolute;
	background-color: white;
	opacity: 0.7;
	top: 220px;
	left: 0;
	/* display: flex; */
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-size: 18px;
}

.alertmessage {
	display: block; width: 95%; height: 300px; line-height: 300px; padding: 20px; white-space: nowrap;
}